@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
header, footer {
  text-align: center;
}
header h1 {
  font-family: 'Permanent Marker', cursive;
  color: #f7b43e;
}
ul {
  list-style: none;
  text-align: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}
li {
  display: inline-block;
  padding-right: 10px;
}
footer{
  clear: both;
  border-top: 1px solid black;
  padding: 10px;
}

a:visited {
  color: tomato;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration: none;
}
