body {
  background-color: #fff4d3;
  color: #111151;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #ce310e;
  background: yellow;
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

td {
  font-style: italic;
}

table {
  background-color: white;
}

th {
  color: #fff;
}

h1, h2 {
  color: #ce310e;
  font-family: 'Bungee', cursive;
}

.bandMembers li {
  font-style: italic;
}
.albumCover {
  background-image: url('fashioncover180.jpg');
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
